#notice
 = notice

h1 style="color:green"  Bem vindo
h2=  current_user.name + ','

h4  você está conectado ao sistema Laudei. Use o espaço abaixo para anexar os exames desejados.


<form action="/uploads" class="dropzone" id="my-awesome-dropzone">
</form>

