<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lauidei</display-name>
 
  
  <servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	  <servlet>
		<display-name>ExameServlet</display-name>
		<servlet-name>ExameServlet</servlet-name>
		<servlet-class>controller.ExameServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>PromissoriaServlet</display-name>
		<servlet-name>PromissoriaServlet</servlet-name>
		<servlet-class>controller.PromissoriaServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>AgendaServlet</display-name>
		<servlet-name>AgendaServlet</servlet-name>
		<servlet-class>controller.AgendaServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>LaudoServlet</display-name>
		<servlet-name>LaudoServlet</servlet-name>
		<servlet-class>controller.LaudoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
		<url-pattern>/Logout</url-pattern>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PromissoriaServlet</servlet-name>
		<url-pattern>/emitirPromissoria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgendaServlet</servlet-name>
		<url-pattern>/AgendaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LaudoServlet</servlet-name>
		<url-pattern>/salvarLaudo</url-pattern>
		<url-pattern>/validarLaudo</url-pattern>
		<url-pattern>/validar</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ExameServlet</servlet-name>
		<url-pattern>/enviarExame</url-pattern>
		<url-pattern>/listarExames</url-pattern>
		<url-pattern>/deletarExame</url-pattern>
		<url-pattern>/exameArquivo</url-pattern>
		<url-pattern>/listarExamesSemLaudo</url-pattern>
		<url-pattern>/listarExamesComLaudo</url-pattern>
		
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
            <filter-name>UsuarioFilter</filter-name>
            <filter-class>controller.UsuarioFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>UsuarioFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
</web-app>