<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-54-225-228-142.compute-1.amazonaws.com:5432/d36t64b57taf57?sslmode=require</property>
		<property name="hibernate.connection.username">ognoosuawtzslt</property>
		<property name="hibernate.connection.password">a86ee0ee150a74a45cd80693561a76239d0117de09e10599a76f8bff8f3cdeea</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.c3p0.acquire_increment">5</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>	
		<property name="javax.persistence.schema-generation.database.action">update</property>
		<mapping class="model.Pessoa" />
		<mapping class="model.Exame" />
		<mapping class="model.Paciente" />
			<mapping class="model.Solicitante" />
	</session-factory>
</hibernate-configuration>
